.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 20px;
}
.button {
  margin-left: 50px;
}
